*{
margin:0 auto 0 auto;
text-align:left;
}



body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:15px;
	font-family:arial,helvatica,sans-serif;
	color:white;
	background-color:#002147; /*oxford blue*/
}


#footer,td{
	padding:3px 0 3px 0;
	font-size:9px;
	font-weight:300;
	text-align:right;
	width: 960px;
	margin-top:30px;
	color: #c2d7ef;
	border-top:1px dashed #2e4c6f;
	border-bottom:1px dashed #2e4c6f;
}
	

#container{
	width:960px;
}

#header{
	width:608px;
	height:95px;
	padding:0;
}
#header {
	float:left;
	padding:20px 0 0 20px;
	
}

#header h1{
	font-size:36px;
	margin-top:3px;
	font-weight:300; /*normal 400, bold 700*/
}
#header p{
	margin-top:10px;
	margin-left:1px;
	font-size:14.5px;
}

#logo{
	float:right;
	padding:20px 0 0 20px;
} /*oxford logo*/

#menu{
	background-color:#2e4c6f;
	display:block; /*not inline with others*/
	float:left;
	clear:both;
	width:960px;
	height:54px;
}

#menu ul{
	list-style:none;
	padding:0;
	padding-top:19px;
	padding-left:10px;
	margin-left:auto;
	width:960px;
}
#menu li{
	list-style:none;
	padding:0;
	display:inline;
}
#menu li a{
	float:left;
	color:#C2D7EF;
	text-decoration:none;
	text-align:center;
	font-size:17px;
	padding:0 15px 0 15px;
}
#menu li a:hover{
float:left;
	color:white;
}


#image ul{
	list-style:none;
	padding:0;
	padding-top:30px;
	padding-left:20px;
	margin-left:0 auto 0 auto;
	width:960px;
}
#image li{
	list-style:none;
	padding:0;
	display:inline;
}



#content{
	display:block;
	clear:both;
	padding:20px 0 0 20px;
}
#content h2{
	font-weight:400; /*normal 300, bold 700*/
	font-size:22px;
	margin-bottom:17px;
	margin-top:10px;
}
#content p{
	margin-top:10px;
	font-size:14.5px;
	color:#C2D7EF;
	line-height:140%;
}

#content p a{
	color:#C2D7EF;
	text-decoration:underline;
}


